body {
  font-family: Arial, sans-serif;
  background:#1e1e1e;
}

h1 {
  color: #bb0000;
}

button {
  position: relative;
  padding: 10px 20px;
  background-color: #FF0000;
  color: #1e1e1e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

button::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid white;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  left: 10px;
}
